
.forms {
    border: 4px;
    color: blue;
    align-items: right;
}

.contact__form {
    border: 330px;
    background-color: rgb(44, 78, 44);
    opacity: 50%;
    display: flex;
    flex-direction: right;
    align-items: center;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #38373764;
    max-width: 500px;
    
}