img {
  height: 340px;  
}

.projects {
    border: 40px;
    justify-content: space-between;
    background-color: rgb(41, 89, 54);
    opacity: 440px;
    padding: .01%;
    max-width: 1200px;

    
}

.app__link {
    justify-content: right;
    opacity: 80%;
    margin: 20px;
}

h2 {
    /* background-color: rgb(85, 84, 84); */
    opacity: 70%;
}